.loadingCircle {
    border-style: solid;
    border-color: var(--color-text-muted);
    border-top-color: var(--color-text-soft);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.small {
    width: 18px;
    height: 18px;
    border-width: 3px;
}

.medium {
    width: 40px;
    height: 40px;
    border-width: 5px;
}

.large {
    width: 60px;
    height: 60px;
    border-width: 6px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}