.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full {
    max-width: 320px;
    min-height: 320px;
}

.mini {
    max-width: 120px;
    min-height: 120px;
}

.wrapper svg {
    width: 100%;
    height: auto;
    max-height: 100%;
    display: block;
}

.mini svg {
    max-height: 120px;
}

.full svg {
    max-height: 320px;
}